.logo-container {
    height: 40vh;
    /* background-color: hsl(348, 38%, 59%); */
    background-image: url("../Images/cover-img-2.jpg");
    background-size: cover;
    border-radius: 20px;
}


@media screen and (min-width:768px) {
    .logo-container {
        /* height: 40vh;
        /* background-color: hsl(348, 38%, 59%); */
        /* background-image: url("../Images/cover-img-2.jpg"); */
        background-size: cover;
        border-radius: 20px;
    }

}

.form-container {
    margin-top: -100px;
    width: 80%;
    max-width: 340px;
}

.card-margin {
    margin-top: -63px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#button {
    width: 100%;
    height: 2.25rem;
    /* 9px */
    background-color: #007bff;
    /* Blue */
    color: #fff;
    /* White */
    font-family: sans-serif;
    font-size: 0.875rem;
    /* 14px */
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    /* 4px */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #007bff;
    /* Light blue on hover */
}

#card {
    background-color: #007bff;
}