.icon-cards {
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: -27px;
}

.black-bg {
    background-color: #3e3f3a;
}

.horizontal-line {
    border-top: 1px solid #ccc;
    /* Line color */
    margin-top: 20px;
    /* Adjust as needed */
    margin-bottom: 20px;
    /* Adjust as needed */
}

.icons {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.title {
    font-family: "Roboto", sans-serif;
    color: #333333;
    /* Adjusted color */
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.revenue {
    color: #000000;
    font-family: "Roboto", sans-serif;
}