.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #3e3f3a;
    transition: left 0.3s ease;
    z-index: 1;
    padding: 10px;
}

.sidebar.open {
    left: 0;
}

.logo-name {
    font-family: 'Roboto';
    font-style: italic;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

.navbar {
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Container styling */
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    /* Adjust as needed */
    margin: 0 auto;
    /* Center the container */
}

/* Input styling */
.search-bar {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 38px;
    /* Remove outline */
}

/* Icon styling */
.search-icon {
    width: 22px;
    height: 22px;
    fill: #666;
    transition: fill 0.3s ease;
    cursor: pointer;
    margin-left: 6px;
}

.search-separator {
    margin-left: -40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #666;
    height: 38px;
}

#signout {
    cursor: pointer;
}

.customModal {
    background: #ffffff;
    max-width: 430px;
    width: 100%;
    border-radius: 8px;
}

.modal-btn {
    background-color: #007bff;
    border-radius: 8px;
    height: 32px;
    color: #ffffff;
    width: 120px;
    border: none;
}

@keyframes customEnterOverlayAnimation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveOverlayAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes customEnterModalAnimation {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes customLeaveModalAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.2);
    }
}

/* Custom styles for the overlay */
.customOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
}

/* Custom styles for the modal */
.customModal {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Drop shadow effect */
}

/* Custom styles for the modal content */
.modal-content {
    text-align: center;
}

/* Custom styles for the buttons */
.button-container {
    margin-top: 20px;
}

.confirm-button {
    background-color: #28a745;
    /* Green */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.confirmation-message {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.cancel-button {
    background-color: #dc3545;
    /* Red */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}